.info-container {
    display: grid;
   
}

.info-text {
    display: flex;
    flex-direction: column;
    line-height: 1.8;
    padding: 20px;
}

.info-team {
    
    padding: 20px;
}

.info-team-photos {
    display: grid;
    gap: 20px;
    margin-top: 1rem;
}



.info-team-photos-1 {
    background-image: url("https://i.ibb.co/VvcYr3n/image-36.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    align-items: center;
    height: 270px;
    width: auto;
    border-radius: 10px;
}

.info-team-photos-2 {
    background-image: url("https://i.ibb.co/6PBsW0y/image-37.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    align-items: center;
    height: 270px;
    width: auto;
    border-radius: 10px;
}
.info-team-photos-3 {
    background-image: url("https://i.ibb.co/4SWKjZH/P1540787-1.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    align-items: center;
    height: 270px;
    width: auto;
    border-radius: 10px;
}

.profiles > div h3 {
    text-align: center;
}

.icon {
    display: flex;
    gap: 10px;
}

.social-media-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.social-media-icon h3 {
    padding-top: 10px;
}
.social-media-icon img svg {
    color: var(--tertiary-color);
    fill: var(--tertiary-color);

}

@media only screen and (min-width: 1024px) {
    .info-container{
        grid-template-columns: 1fr 1fr;
    }
    .info-team-photos {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .info-team-photos-1, .info-team-photos-2, .info-team-photos-3 {
        height: 180px;
    }

}   