
.beach-card {
    display: flex;
    flex-direction: column; /* row on mobile*/
    filter: drop-shadow(4px 10px 15px rgba(137, 137, 137, 0.2));
    background-color: white;
    border-radius: 10px;
}

.beach-card-row-1 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: 120px;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-blend-mode: multiply; 
    border-radius: 10px;
    padding: 15px;
    color: white;
}

.beach-card-row-1 div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.beach-card-row-1 .location-icon img{
    width: 15px;
}

.beach-card-row-1 div p{
    font-size: 12px;
}

.beach-card-row-1 h2 {
    font-weight: 300;
    font-size: 18px;
    color: white;
}

.beach-card-row-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    padding: 15px;
}

.beach-card-row-2-row-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 15px;
}

.beach-card-row-2-row-1 > div{
    display: flex;
    gap: 7px;
    align-items: center;
}

.beach-card-row-2-row-1 > div > img{
    width: 15px;
}

.beach-card-row-2-row-1 > div > p{
    font-size: 13px;
}

.beach-card-row-2-row-2 {
    display: none;
    flex-wrap: wrap;
    gap: 5px;
}

.icon-active {
    width: 20px;
}

.icon-not-active {
    opacity: 0.2;
    width: 20px;
}
    
.kts {
    display: none;
}

.wind-direction-span {
    color: var(--primary-color);
    font-weight: 500;
}

.location-icon {
    align-self: flex-end;
    padding-right: 8px;
}

/* calculator */

.excellent-filter, .very-good-filter, .good-filter, .poor-filter, .insufficient-filter{
    display: none;
}


.calculator-home {
    display: none !important;
    gap: 5px;
    border-radius: 10px 10px 0px 0px;
    background-color: #151515;
    padding: 15px;
    width: 100px;
}

.calculator-home-mobile {
    display: flex;
    gap: 5px;
    border-radius: 0px 0px 10px 10px;
    background-color: #151515;
    padding: 10px 15px 10px 15px;
    color: white;
    width: 100%;
}

.calculator-home-mobile > div div {
    display: flex;
    font-size: 0.8rem;
    gap: 10px;
    justify-content: space-between;
}

.calculator-home-mobile p {
    text-align: center;
    color: white !important;
}



.calculator-home p {
    text-align: center;
}

.calculator-home > div:nth-child(1){
    flex-direction: column;
}

.calculator-home > div:nth-child(2) {
    margin-top: unset;
}





.excellent-filter {
    filter: drop-shadow(14px 24px 0px ,var(--excellent));
}

.very-good-filter {
    filter: drop-shadow(14px 24px 0px var(--very-good));
}

.good-filter {
    filter: drop-shadow(14px 24px 0px var(--good));
}

.insufficient-filter {
    filter: drop-shadow(14px 24px 0px var(--insufficient));
}

.poor-filter {
    filter: drop-shadow(14px 24px 0px var(--poor));
}


/* dots */

.excellent-dot, .very-good-dot, .good-dot, .insufficient-dot, .poor-dot{
    display: flex;
    align-items: center;
    gap: 4px !important;
    margin-top: unset !important;
}


.excellent-dot > span {
    background-color: var(--excellent);
}



.very-good-dot > span {
    background-color: var(--very-good);
}

.very-good-dot > span:nth-child(5){
    opacity: 0.3;
}




.good-dot > span {
    background-color: var(--good);
}

.good-dot > span:nth-child(4) {
    opacity: 0.3;
}

.good-dot > span:nth-child(5) {
    opacity: 0.3;
}




.insufficient-dot > span {
    background-color: var(--insufficient);
}

.insufficient-dot  span:nth-child(3) {
    opacity: 0.3;
}

.insufficient-dot  span:nth-child(4) {
    opacity: 0.3;
}

.insufficient-dot  span:nth-child(5) {
    opacity: 0.3;
}



.poor-dot > span{
    background-color: var(--poor);
}

.poor-dot > span:nth-child(2) {
    opacity: 0.3;
}
.poor-dot > span:nth-child(3) {
    opacity: 0.3;
}
.poor-dot > span:nth-child(4) {
    opacity: 0.3;
}
.poor-dot > span:nth-child(5) {
    opacity: 0.3;
}

/* mobiles */ 

.excellent-filter-mobile {
    background-color: var(--excellent)
}

.very-good-filter-mobile {
    background-color: var(--very-good);
}

.good-filter-mobile {
    background-color: var(--good);
}

.insufficient-filter-mobile {
    background-color: var(--insufficient);
}

.poor-filter-mobile {
    background-color: var(--poor);
}

  
  
  
.dot-good > div{
    background-color: var;
}

.dot-good > div:nth-child(4), .dot-good > div:nth-child(5){
    opacity: 0.3;
}


@media only screen and (min-width: 1024px) {
    .excellent-filter, .very-good-filter, .good-filter, .poor-filter, .insufficient-filter{
        display: initial;
    }
    .calculator-home {
        display: grid !important;
    }

    .calculator-home-mobile {
        display: none !important;
    }

    .location-icon {
        padding-bottom: 23px;
    }
    
    
}

@media only screen and (min-width: 1024px) {
    .beach-card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        overflow: hidden;
    }

    .beach-card-row-1 {
        padding: 20px 20px 0px 20px;
        min-height: 200px;
        height: 100%;
        overflow: hidden;
    }

    .beach-card-row-1 h2 {
        
        font-size: 20px;
        line-height: 1.1;
    }

    .beach-card-row-2 {
        padding: 30px;
    }

    .beach-card-row-2-row-1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .beach-card-row-2-row-1 > div > img {
        width: 30px;
    }

    .beach-card-row-2-row-1 > div > p{
        font-size: 18px;
    }

    .beach-card-row-2-row-2 {
        display: flex;
    }

        
    .kts {
        display: initial;
    }
    
}