
.section {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 40px;
    padding-bottom: 20px;
}

.section:nth-child(1) {
    padding-top: 10px;
}

.section a {
    color: var(--secondary-color);
    transition: all 300ms ease-out;
}

.section a:hover {
    opacity: 0.6;
}


.content h3{
    font-weight: 600;
}

