@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Inter';
}


.bg-video {
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-blend-mode: multiply; 
    display: flex;
    height: 40vh;
    align-items: flex-end;
}

.videos-latest-container {
    display: grid;
    grid-gap: 10px;
    grid-template:
        "a a a b b b" 1fr
        "a a a b b b" 1fr;
    height: 500px;
    margin: 1rem;
}

.videos-latest-container > div:nth-child(1) {
    grid-area: a; 
    border-radius: 10px;
    padding: 3%;
}

.videos-latest-container > div:nth-child(2) {
    grid-area: b; 
    border-radius: 10px;
    padding: 3%;
}

/* VIDEOS-LIST */

.videosList-container {
    display: grid;
    grid-gap: 10px;
    grid-template:
        "a b c" 1fr
        "d e f" 1fr;
    height: 900px;
    margin: 1rem;
}

.videosList-container > div:nth-child(1) {
    grid-area: a; 
    border-radius: 10px;
    padding: 3%;
}

.videosList-container > div:nth-child(2) {
    grid-area: b; 
    border-radius: 10px;
    padding: 3%;
}

.videosList-container > div:nth-child(3) {
    grid-area: c; 
    border-radius: 10px;
    padding: 3%;
}

.videosList-container > div:nth-child(4) {
    grid-area: d; 
    border-radius: 10px;
    padding: 3%;
}

.videosList-container > div:nth-child(5) {
    grid-area: e; 
    border-radius: 10px;
    padding: 3%;
}

.videosList-container > div:nth-child(6) {
    grid-area: f; 
    border-radius: 10px;
    padding: 3%;
}