.home-beaches-popular {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.home-beaches-popular > div:nth-child(n+3) {
    display: none;
}

.home-beaches-popular .calc-dots {
    gap: 4px !important;
}



@media only screen and (min-width: 1024px) {

    .home-beaches-popular .beach-card a .beach-card-row-1 {
        padding: 20px 20px 0px 20px;
    }
    
    .home-beaches-popular .beach-card a .beach-card-row-1 div {
        justify-content: space-between;
    }

    /* .home-beaches-popular .beach-card a .beach-card-row-1 div div:nth-child(2) {
        margin-top: 30px;
    } */
    
}

@media only screen and (min-width: 1440px) {

    .beach-card{
        min-height: 280px;
    }

    
}

