* {
  margin: 0;
}

/* css for the weather card - mobile first */
.weather-card {
  filter: drop-shadow(4px 10px 15px rgba(137, 137, 137, 0.1));
  box-sizing: border-box;
}

.weather-card:last-child {
  display: none;
}

.weather-card-header img {
  display: flex;
  justify-self: center;
}

.weather-card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 5.3px;
  color: white;
  background: linear-gradient(285.49deg, #6ebdf7 4.03%, #6e7bf7 102.93%);
  min-height: 90px;
  padding: 10px;
}

.weather-card-body {
  background-color: white;
  width: 100%;
  height: 100px;
  border-radius: 5.3px;
}

.temperature-max-min {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  color: #939cf9;
}

.temperature-max-min img {
  width: 6px;
  margin-top: 3px;
}

.temperature {
  display: flex;
  gap: 2px;
  align-items: center;
  justify-content: space-around;
}

.weather-day {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  color: #6e7bf7;
}

.weather-name-temp {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.weather-name {
  display: flex;
  flex-direction: column;
}

.weather-name p {
  padding-bottom: 5px;
}

.weather-name h6 {
  font-size: 0.6rem;
  font-weight: 300;
  padding-top: 2px;
}

.weather-temp {
  align-self: flex-start;
}

.weather-temp h2 {
  font-size: 1rem;
  font-weight: 500;
}

.weather-icon {
  display: flex;
  align-self: flex-end;
}

.weather-icon img {
  height: 36px;
}

.days {
  height: 5px;
  width: 60px;
  background-color: #6e7bf7;
  border-radius: 5px;
}

/* weather card - Desktop version */
@media only screen and (min-width: 1024px) {
  .weather-card {
    filter: drop-shadow(4px 10px 15px rgba(137, 137, 137, 0.1));
    box-sizing: border-box;
    width: 100%;
  }

  .weather-card:last-child {
    display: none;
  }

  .weather-card-header img {
    display: flex;
    justify-self: center;
    height: 60px;
  }

  .weather-card-header {
    align-self: center;
    padding: 20px;
    justify-content: space-between;
    min-height: 150px;
    height: unset;
  }

  .weather-card-header * {
    display: flex;
    align-items: inherit;
    justify-self: inherit;
    height: unset;
  }

  .weather-name p {
    padding: 0;
    padding-bottom: 10px;
    font-size: 1.6rem;
  }
  .weather-name h6 {
    padding: 0;
    font-size: 0.9rem;
  }

  .weather-name-temp {
    padding: 0;
    justify-content: space-between;
  }

  .weather-icon {
    align-self: center;
  }

  .weather-icon img {
    padding: 0;
  }

  .weather-card-body {
    background-color: white;
    width: 100%;
    padding-bottom: 20px;
    border-radius: 5.3px;
  }

  .temperature-max-min {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 50px;
  }

  .temperature-max-min img {
    width: 9px;
    margin-top: 3px;
  }

  .temperature {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: space-around;
  }

  .weather-day {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .weather-day * {
    display: flex;
    flex-direction: column;
    color: #6e7bf7;
    margin: 0px 5px 5px 5px;
  }

  .days {
    height: 5px;
    width: 60px;
    background-color: #6e7bf7;
    border-radius: 5px;
  }
}
