@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Inter';
}


.newsCard-container {
    display: grid;
    grid-gap: 10px;
    grid-template:
        "a a a a b b" 1fr
        "a a a a c c" 1fr
        "d d d e e e" 1fr;
    height: 900px;
    margin: 1rem;
}

.bg-img {
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    /* background: linear-gradient(360deg, rgba(57,73,87,1) 0%, rgba(255,255,255,1) 100%); */
    background-blend-mode: multiply; 
    display: flex;
    height: 70vh;
    align-items: flex-end;
}


.gradient {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.7) 3%, rgba(0, 0, 0, 0.2) 100%);
    position: relative;
    width: 100%;
    height: 100%;
}

.newsCard-container > div:nth-child(1) {
    grid-area: a; 
    border-radius: 10px;
    padding: 3%;
}

.newsCard-container > div:nth-child(2) {
    grid-area: b; 
    border-radius: 10px;
    padding: 3%;
}

.newsCard-container > div:nth-child(3) {
    grid-area: c; 
    border-radius: 10px;
    padding: 3%;
}

.newsCard-container > div:nth-child(4) {
    grid-area: d; 
    border-radius: 10px;
    padding: 3%;
}

.newsCard-container > div:nth-child(5) {
    grid-area: e; 
    border-radius: 10px;
    padding: 3%;
}

.news-header {
    align-self: flex-end;
}

.news-cards-row-1{
    color: #fff;
    align-self: center;
    font-size: 18px;
}

.news-cards-row-1 h1 {
    max-width: 40ch;
}

.news-cards-row-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    color: #fff;
    font-size: 16px;
}

.news-cards-row-2 p:nth-child(2) {
    text-align: center;
}

.read-more-button {
    color: #fff;
    appearance: none;
    outline: none;
    border: none;
    background-color: transparent;
    align-self: center;
    justify-self: end;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 4px;
}

.read-more-button svg {
    height: 10px;
    margin-top: 2px;
    fill: #6E7BF7;
}



/* NEWS-LATEST */

.news-latest-container {
    display: grid;
    grid-gap: 10px;
    grid-template:
        "a a a a b b b" 1fr
        "a a a a c c c" 1fr;
    height: 700px;
    margin: 1rem;
}

.news-latest-container > div:nth-child(1) {
    grid-area: a; 
    border-radius: 10px;
    padding: 3%;
}

.news-latest-container > div:nth-child(2) {
    grid-area: b; 
    border-radius: 10px;
    padding: 3%;
}

.news-latest-container > div:nth-child(3) {
    grid-area: c; 
    border-radius: 10px;
    padding: 3%;
}

/* EVENTS-LATEST */

.events-latest-container {
    display: grid;
    grid-gap: 10px;
    grid-template:
        "a a a b b b" 1fr
        "a a a b b b" 1fr;
    height: 500px;
    margin: 1rem;
}

.events-latest-container > div:nth-child(1) {
    grid-area: a; 
    border-radius: 10px;
    padding: 3%;
}

.events-latest-container > div:nth-child(2) {
    grid-area: b; 
    border-radius: 10px;
    padding: 3%;
}

/* DESKTOP VERSION */

@media only screen and (min-width: 1024px) {
    .bg-img{
        height: auto;
    }
}
