@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Inter';
}


.news-card-container {
    display: grid;
    grid-gap: 20px;
    grid-template:
        "a a a a" 1fr
        "a a a a" 1fr
        "a a a a" 1fr
        "b b c c" 1fr
        "d d e e" 1fr
        "f f g g" 1fr
        "h h i i" 1fr;
    height: 100%;
    margin: 1rem;
}

.bg-img {
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    /* background: linear-gradient(360deg, rgba(57,73,87,1) 0%, rgba(255,255,255,1) 100%); */
    background-blend-mode: multiply; 
    display: flex;
    height: 240px;
    align-items: flex-end;
    border-radius: 10px;
}


.gradient {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.7) 3%, rgba(0, 0, 0, 0.2) 100%);
    position: relative;
    width: 100%;
    height: 100%;
}

.news-card-container > div:nth-child(1) {
    grid-area: a; 
    border-radius: 10px;
    padding: 3%;
}

.news-card-container > div:nth-child(2) {
    grid-area: b; 
    border-radius: 10px;
    padding: 3%;
}

.news-card-container > div:nth-child(3) {
    grid-area: c; 
    border-radius: 10px;
    padding: 3%;
}

.news-card-container > div:nth-child(4) {
    grid-area: d; 
    border-radius: 10px;
    padding: 3%;
}

.news-card-container > div:nth-child(5) {
    grid-area: e; 
    border-radius: 10px;
    padding: 3%;
}

.news-card-container > div:nth-child(6) {
    grid-area: f; 
    border-radius: 10px;
    padding: 3%;
}

.news-card-container > div:nth-child(7) {
    grid-area: g; 
    border-radius: 10px;
    padding: 3%;
}

.news-card-container > div:nth-child(8) {
    grid-area: h; 
    border-radius: 10px;
    padding: 3%;
}

.news-card-container > div:nth-child(9) {
    grid-area: i; 
    border-radius: 10px;
    padding: 3%;
}
.news-header {
    align-self: flex-end;
    padding: 20px;
    width: 100%;
}

.news-cards-row-1{
    color: #fff;
    align-self: center;
    font-size: 18px;
    text-align: left;
    padding-bottom: 10px;
}

.news-cards-row-1 h1 {
    max-width: 25ch;
    font-size: 18px;
    font-weight: 600;
}


.news-cards-row-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    color: #fff;
    font-size: 16px;
    text-align: left;
}

.news-cards-row-2 p {
    font-size: 14px;
}

.news-cards-row-2 p:nth-child(2){
    display: none;
}

.news-cards-row-2 p:nth-child(3) {
    display: none;
}

.read-more-button {
    color: #fff;
    appearance: none;
    outline: none;
    border: none;
    background-color: transparent;
    align-self: center;
    justify-self: end;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
}

.read-more-button svg {
    height: 10px;
    margin-top: 2px;
    fill: #6E7BF7;
}

.svg-fill-white {
    fill: white !important;
    transition: all 300ms ease-out;
}


/* SLIDERS */

.swiper-pagination-bullets {
    top: unset;
    left: unset;
    bottom: unset !important;
    width: 100%;
} 

.swiper-pagination {
    text-align: right !important;
    margin-left: -46px;
    margin-top: 10px;
}
.swiper-pagination-bullet {
    opacity: var(--secondary-color, 1);
    background: var(--secondary-color,var(--secondary-color)) !important;
}

/* NEWS-LATEST */

.news-latest-container {
    display: none;
    grid-gap: 10px;
    grid-template:
        "a a a a b b b" 1fr
        "a a a a c c c" 1fr;
    min-height: 500px;
    padding-right: 20px;
    padding-left: 20px;
}

.news-latest-container > div:nth-child(1) {
    grid-area: a; 
    border-radius: 10px;
    padding: 3%;
}

.news-latest-container > div:nth-child(2) {
    grid-area: b; 
    border-radius: 10px;
    padding: 3%;
}

.news-latest-container > div:nth-child(3) {
    grid-area: c; 
    border-radius: 10px;
    padding: 3%;
}

/* EVENTS-LATEST */

.events-latest-container {
    display: grid;
    grid-gap: 10px;
    grid-template:
        "a a a b b b" 1fr
        "a a a b b b" 1fr;
    height: 500px;
    margin: 1rem;
}

.events-latest-container > div:nth-child(1) {
    grid-area: a; 
    border-radius: 10px;
    padding: 3%;
}

.events-latest-container > div:nth-child(2) {
    grid-area: b; 
    border-radius: 10px;
    padding: 3%;
}


/* DESKTOP VERSION */

@media only screen and (min-width: 1024px) {
    .bg-img{
        height: auto;
    }
    .news-latest-container{
        display: grid;
        padding-left: 40px;
        padding-right: 40px;
        min-height: 500px;
    }

    .news-cards-row-1 h1 {
        max-width: 40ch;
        font-size: 32px;
        font-weight: 600;
    }
    
    .news-cards-row-2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }      

    .news-cards-row-2 p:nth-child(1) {
        display: none;
    }
    .news-cards-row-2 p:nth-child(2), .news-cards-row-2 p:nth-child(3) {
        display: block;
    }

    .bg-img:nth-child(1) .read-more-button{
        border: 2px solid #6E7BF7;
        border-radius: 7px;
        padding: 10px 12px;
    }

    .bg-img:nth-child(1) .read-more-button:hover{
        background-color: #6E7BF7;
        cursor: pointer;
    }
 
}

@media only screen and (min-width: 1920px) {

    .news-latest-container{
        min-height: 600px;
    }
}