.mySwiper {
  
}


.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  padding-left: 20px;
  padding-right: 20px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  
}



.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}



@media only screen and (min-width: 1024px) {
  .mySwiper {
    display: none;
  }
}