.newsCards {
    display: flex;
    
    }

.newsCard {
    background-image: url(../../images/nazare.jpg);
    background-size: cover;
    margin: 2rem;
    width: 500px;
    height: 250px;
}

.newsCard h1 {
    display: flex;
    align-items: center;
    padding: 13% 5% 5% 5%;
    text-align: left;
    font-size: 18px;
    color: #ffffff;
    width: 75%;
}

.newsCard h3 {
    text-align: right;
    font-size: 12px;
    color: #ffffff;
    padding-right: 5%;
    
}

.newsCard h4 {
    text-align: right;
    font-size: 10px;
    font-style: italic;
    color: #ffffff;
    padding-right: 5%;
    padding-bottom: 3%;
}
