.news-page-container {
    display: grid;
    gap: 20px;
    height: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 40px;
}

.news-page-header {
    display: grid;
    gap: 10px;
}

.news-page-header p {
    color: var(--secondary-color);
} 

.news-page-img img{
    display: flex;
    border-radius: 7px;
    height: 100%;
    width: 100%;
}

.text-container {
    display: grid;
    gap: 10px;
}

.news-page-text {
    line-height: 1.8;
}

.news-related {
    display: none;
    flex-direction: column;
    gap: 20px;
}

.news-related .bg-img .read-more-button:nth-child(1){
    border: none;
    border-radius: 10px;
    padding: unset;
}

.news-related .bg-img:nth-child(1) .read-more-button:hover{
    background-color: unset;
}

.news-related .news-cards-row-2 p:nth-child(2){
    display: block;
} 

.news-related .news-cards-row-2 p:nth-child(2){
    display: none;
} 

.text-container .news-related h1 {
    font-size: 16px;
}

.text-container .news-related .bg-img {
    height: 200px;
}



@media only screen and (min-width: 1024px) {
    
    .news-page-header {
        grid-template-columns: 5fr 1fr;
    }

    .text-container {
        display: grid;
        grid-template-columns: 3fr 2fr;
    }

    .news-related {
        display: flex;
    }
}


