.bg-video {
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-blend-mode: multiply; 
    display: flex;
    height: 40vh;
    align-items: flex-end;
}

.videos-latest-container {
    display: grid;
    grid-gap: 10px;
    grid-template:
        "a a a b b b" 1fr
        "a a a b b b" 1fr;
    height: 500px;
    margin: 1rem;
}

.videos-latest-container > div:nth-child(1) {
    grid-area: a; 
    border-radius: 10px;
    padding: 3%;
}

.videos-latest-container > div:nth-child(2) {
    grid-area: b; 
    border-radius: 10px;
    padding: 3%;
}