body {
  margin: 0px 20px 0px 20px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.logo {
  grid-column-start: 1;
  grid-column-end: 10;
}

.bMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 3px;
}

.bMenu span {
  display: block;
  height: 5px;
  background-color: black;
  border-radius: 20px;
}

.bMenu-top {
  width: 34px;
}

.bMenu-middle {
  width: 20px;
  margin-top: 3px;
}

.surfSpots {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
}

.titleSS {
  display: flex;
  justify-content: space-between;
}

.SeeAll {
  opacity: 40%;
  grid-column-start: 5;
}

.images {
  border-radius: 10px;
  width: 100%;
}

.card {
  border-radius: 10px;
  background-color: white;
  filter: drop-shadow(4px 10px 15px rgba(137, 137, 137, 0.1));
  min-height: 400px;
}

.card-title {
  position: relative;
}

.icons {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
}

.icon-item {
  display: flex;
  gap: 20px;
  align-items: center;
  height: 50px;
}

.icons img {
  width: 50px;
}
