body {
  margin: 0px 20px 0px 20px;
}

.header {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.logo {
  grid-column-start: 1;
  grid-column-end: 10;
}

.bMenu {
  grid-column-start: 11;
}

.bMenu span {
  display: block;
  height: 5px;
  background-color: black;
}

.bMenu-top {
  width: 34px;
  margin-top: 20px;
}

.bMenu-middle {
  width: 20px;
  margin-top: 3px;
}

.surfSpots {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.SeeAll {
  opacity: 40%;
  grid-column-start: 5;
}

.images {
  border-radius: 20px;
  max-width: 300px;
  max-height: 300px;
}

.card1 {
  background-color: rgb(222, 220, 220);
}

.card2 {
  background-color: rgb(222, 220, 220);
  grid-column-start: 3;
}
