/* ALL */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --primary-color: #FF776E;
  --secondary-color: black;
}

* {
  box-sizing:border-box;
  margin: 0;
  font-family: "Manrope";
  scroll-behavior: smooth;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}


.button {
  appearance: none;
  outline: none;
  border: none;
  font-size: 1rem;
  padding: 8px 20px;
  margin-top: 20px;
  border-radius: 10px;
  font-weight: 500;
  background-color: var(--primary-color);
  color: black;
}

/* TEXT */ 



