input, select {
    appearance: none;
    outline: none;
    border: none;
    background-color: transparent;
    border: 2px solid var(--secondary-color);
    border-radius: 100px;
    padding: 10px 20px;
    width: 100%;
    font-size: 1rem;
}


.select-css {
	
	line-height: 1.3;
	background-image: url('../../../media/chevronDown.svg');
	background-repeat: no-repeat, repeat;
	background-position: right 1.2em top 50%, 0 0;
	background-size: .65em auto, 100%;
}
.select-css:hover {
	border-color: var(--primary-color);
}

input:hover {
    border-color: var(--primary-color);
}

.select-css:focus {
	outline: none;
}
